#contenedor p{
    color: yellow;
}

#contenedor p:first-child{
    color: blue;
}

#contenedor p:last-child{
    color: brown;
}

/* evem- PARES; ODD- IMPARES*/
#contenedor p:nth-child(2){
    color: lightgreen;
}